apiVersion: apps/v1
kind: Deployment
metadata:
  name: fiap-pos-tech-api
  namespace: fiap-pos-tech
  labels:
    app: fiap-pos-tech-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fiap-pos-tech-api
  template:
    metadata:
      labels:
        app: fiap-pos-tech-api
    spec:
      initContainers:
      - name: migrate-db
        image: jhonataneduardo/fiap-pos-tech-api:latest
        command: ["npx", "prisma", "migrate", "deploy", "--schema", "prisma/schema.prisma"]
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: fiap-pos-tech-secret
              key: DATABASE_URL
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
      containers:
      - name: api
        image: jhonataneduardo/fiap-pos-tech-api:latest
        ports:
        - containerPort: 3001
          name: http
        env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: fiap-pos-tech-config
              key: PORT
        - name: NODE_ENV
          valueFrom:
            configMapKeyRef:
              name: fiap-pos-tech-config
              key: NODE_ENV
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: fiap-pos-tech-secret
              key: DATABASE_URL
        - name: WEBHOOK_SECRET
          valueFrom:
            secretKeyRef:
              name: fiap-pos-tech-secret
              key: WEBHOOK_SECRET
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /api/v1/health
            port: 3001
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /api/v1/health
            port: 3001
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          capabilities:
            drop:
            - ALL